################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/csu_c_lib/v16/Browse.VC.opendb
/.vs/csu_c_lib/v16/Browse.VC.db-wal
/.vs/csu_c_lib/v16/Browse.VC.db-shm
/aquaLibraryForCsu/.vs/aquaLibraryForCsu/v16/.suo
/aquaLibraryForCsu/.vs/aquaLibraryForCsu/v16/ipch/AutoPCH/3698d2004b4b81ad
/aquaLibraryForCsu/.vs/aquaLibraryForCsu/v16/Browse.VC.db
