################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/csu_c_lib/v16/Browse.VC.opendb
/.vs/csu_c_lib/v16/Browse.VC.db-wal
/.vs/csu_c_lib/v16/Browse.VC.db-shm
